body{
font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
margin:0;
background:#f4f4f4;
}

.navbar{
display:flex;
justify-content:space-between;
align-items: center;
background:#003366;
color:white;
padding:15px;
}

nav{
    margin-right:0.5%
}
nav a{
color:white;
margin-left:15px;
text-decoration:none;
}

.hero{
text-align:center;
padding:80px;
background:linear-gradient(135deg,#2193b0,#6dd5ed);
color:rgb(0, 0, 0);
}

form{
        display: flex;
   justify-content: center;
    flex-direction: column;

}
button{
background:#003366;
border:none;
border-radius: 10px;
padding:12px 20px;
color:rgb(255, 255, 255);
cursor:pointer;
  transition: 0.5s ease;
      transition: 0.5s ease;

}

button:hover{
background:#7f45eb;
scale:1.10;
}

.propuesta{
width:400px;
margin:auto;
margin-top:40px;
display:flex;
flex-direction:column;
}

input{
padding:10px;
margin-bottom:10px;
}

footer{
text-align:center;
margin-top:50px;
padding:20px;
background:#003366;
color:white;
}

#contacto{
       display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
}

#contacto h2{
        margin-bottom: -1%;
}

@media (max-width: 600px){

.navbar{
flex-direction:column;
text-align:center;
gap:5px;
}

nav{
margin:0;
}

nav a{
display:block;
margin:8px 0;
}

.hero{
padding:10%;
}

.hero h1{
font-size:1.8rem;
}

.hero p{
font-size:0.95rem;
}

.propuesta{
width:90%;
}

button{
width:100%;
}
form{
    padding:5%;
}
input{
width:100%;
}

#votar{
display:flex;
flex-direction:column;
align-items:center;
gap:10px;
}

footer{
font-size:0.9rem;
}

}